<!-- New Product Section -->
<div class="col-md-9 col-xs-12">
  <div class="category-product">
    <div class="navbar nav-menu">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <div class="new_title">
              <h2><strong>Nuevos</strong> Productos</h2>
            </div>
          </li>
          <li class="active"><a data-toggle="tab" href="#tab-1">Pijamas</a></li>
          <li><a data-toggle="tab" href="#tab-2">Chaquetas</a></li>
          <li><a data-toggle="tab" href="#tab-3">Combox Maternos</a></li>
          <li><a data-toggle="tab" href="#tab-4">Gorros</a></li>
          <li><a data-toggle="tab" href="#tab-5">Ruanas</a></li>
        </ul>
      </div>
    </div>
    <div class="product-bestseller">
      <div class="product-bestseller-content">
        <div class="product-bestseller-list">
          <div class="tab-container">
            <div class="tab-panel active" id="tab-1">
              <div class="category-products">
                <ul class="products-grid">
                  <brezza-product-item *ngFor="let p of newProducts?.pijamas" [product]="p"></brezza-product-item>
                </ul>
              </div>
            </div>
            <div class="tab-panel" id="tab-2">
              <div class="category-products">
                <ul class="products-grid">
                    <brezza-product-item *ngFor="let p of newProducts?.chaquetas" [product]="p"></brezza-product-item>
                </ul>
              </div>
            </div>
            <div class="tab-panel" id="tab-3">
              <div class="category-products">
                <ul class="products-grid">
                    <brezza-product-item *ngFor="let p of newProducts['combos-maternos']" [product]="p"></brezza-product-item>
                </ul>
              </div>
            </div>
            <div class="tab-panel" id="tab-4">
              <div class="category-products">
                <ul class="products-grid">
                    <brezza-product-item *ngFor="let p of newProducts?.gorros" [product]="p"></brezza-product-item>
                </ul>
              </div>
            </div>
            <div class="tab-panel" id="tab-5">
              <div class="category-products">
                <ul class="products-grid">
                    <brezza-product-item *ngFor="let p of newProducts?.ruanas" [product]="p"></brezza-product-item>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>