<form>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" placeholder="Super cool T-Shirt">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Product Slug</label>
        <input type="text" class="form-control" placeholder="super-cool-tshirt">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" placeholder="It is the coolest T-Shirt in the world"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Sell Price</label>
        <input type="text" class="form-control" placeholder="15.00">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Discount?</label> 
        <select class="form-control">
          <option value="">No</option>
          <option value="ondate">Yes (On Future Date)</option>
          <option value="permanent">Yes (Permanent)</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Discount Price</label>
        <input type="text" class="form-control" placeholder="10.00">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Discount Date</label> 
        <input type="date" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <label>Category</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label">Headphones</label>
        <ul style="list-style-type: none;">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Noise Cancelling</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Wireless</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Sports</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Soundware</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Aviation Headsets</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Sleep</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Hearing</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Headset Accesories</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label">Speakers</label>
        <ul style="list-style-type: none">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Portable</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Smart Home</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Home Theater</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Wave</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Stereo</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Computer</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Portable PA</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">Speaker Accesories</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</form>