<div class="block block-cart">
  <div class="block-title ">My Cart</div>
  <div class="block-content">
    <div class="summary">
      <p class="amount">There are <a href="shopping_cart.html">3 items</a> in your cart.</p>
      <p class="subtotal"> <span class="label">Cart Subtotal:</span><span class="price">$227.99</span> </p>
    </div>
    <div class="ajax-checkout">
      <button class="button button-checkout" type="submit"><span>Checkout</span></button>
    </div>
    <p class="block-subtitle">Recently added item(s) </p>
    <ul>
      <li class="item"> <a href="shopping_cart.html" title="Retis lapen casen" class="product-image"><img src="http://via.placeholder.com/700x850" alt="Retis lapen casen"></a>
        <div class="product-details">
          <div class="access"> <a href="shopping_cart.html" title="Remove This Item" class="btn-remove1"> <span class="icon"></span> Remove </a></div>
          <strong>1</strong> x <span class="price">$19.99</span>
          <p class="product-name"> <a href="shopping_cart.html">Retis lapen casen</a></p>
        </div>
      </li>
      <li class="item last"> <a href="shopping_cart.html" title="Retis lapen casen" class="product-image"><img src="http://via.placeholder.com/700x850" alt="Retis lapen casen"></a>
        <div class="product-details">
          <div class="access"> <a href="shopping_cart.html" title="Remove This Item" class="btn-remove1"> <span class="icon"></span> Remove </a></div>
          <strong>2</strong> x <span class="price">$8.00</span>
          <p class="product-name"> <a href="shopping_cart.html">Retis lapen casen</a></p>
        </div>
      </li>
    </ul>
  </div>
</div>