<div *ngIf="false" class="popup1">
  <div class="newsletter-sign-box">
    
    <div class="newsletter">
      <a href="#">
        <img src="assets/images/f-box-close-icon.png" alt="close" class="x" id="x"></a>
      <div id="formSuccess1" style="display:none;">Thank you for your subscription.</div>
      <form method="post" id="popup-newsletter" name="popup-newsletter" class="email-form">
        <h3>Mensaje Enviardo</h3>
        
        <h5>Su mensaje ha sido enviado exitosamente.</h5>
        <!--div class="newsletter-form">
          <div class="input-box">
            <input name="email" id="newsletter2" title="Sign up for our newsletter" placeholder="Enter your email address" class="input-text required-entry validate-email" type="text">
            <button type="submit" title="Subscribe" class="button subscribe"><span>Subscribe</span></button>
          </div> 
        </div-->
        <!--label class="subscribe-bottom">
          <input name="notshowpopup" id="notshowpopup" type="checkbox">
          Don’t show this popup again</label-->
      </form>
    </div>
  </div> 
</div>
<div *ngIf="false" id="overlay" style="display: block;"></div>