<div id="page">
    <brezza-slider></brezza-slider>
    <div class="content-page">
        <div class="container">
            <div class="row">
                <brezza-product-hot></brezza-product-hot>
                <brezza-products-new></brezza-products-new>
            </div>
        </div>
    </div>
    <brezza-products-bestsellers></brezza-products-bestsellers>
    <brezza-banner-mid></brezza-banner-mid>
    <brezza-products-featured></brezza-products-featured>
    <brezza-footer></brezza-footer>
</div>
<brezza-mobile-menu></brezza-mobile-menu>