<div class="dropdown block-language-wrapper">
  <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#">
    <img src="assets/images/english.png" alt="English">English<span class="caret"></span> </a>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation"><a href="#"><img src="assets/images/english.png" alt="English">English</a></li>
    <li role="presentation"><a href="#"><img src="assets/images/francais.png" alt="French">French</a></li>
    <li role="presentation"><a href="#"><img src="assets/images/german.png" alt="German">German</a></li>
  </ul>
</div>