<footer>
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-8">
          <brezza-footer-account></brezza-footer-account>
          <brezza-footer-styleadv></brezza-footer-styleadv>
          <brezza-footer-info></brezza-footer-info>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="footer-column-last">
            <!--brezza-footer-signup></brezza-footer-signup-->
            <brezza-footer-social></brezza-footer-social>
            <!--brezza-footer-payment-accept></brezza-footer-payment-accept-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <brezza-footer-company></brezza-footer-company>
  <brezza-footer-bottom></brezza-footer-bottom>
</footer>