<footer>
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-8">
          <div class="footer-column pull-left">
            <h4>My Account</h4>
            <ul class="links">
              <li><a title="Login" href="login.html">Login</a></li>
              <li><a title="About us" href="about_us.html">About us</a></li>
              <li><a title="Wishlist" href="wishlist.html">Wishlist</a></li>
              <li><a title="Checkout" href="checkout.html">Checkout</a></li>
              <li><a title="FAQs" href="faq.html">FAQs</a></li>
              <li><a title="Contact Us" href="contact_us.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="footer-column pull-left">
            <h4>Style Advisor</h4>
            <ul>
              <li><a title="Your Account" href="#">Your Account</a></li>
              <li><a title="Information" href="#">Information</a></li>
              <li><a title="Addresses" href="#">Addresses</a></li>
              <li><a title="Discount" href="#">Discount</a></li>
              <li><a title="Orders History" href="#">Orders History</a></li>
              <li><a title="Additional Information" href="#">Additional Information</a></li>
            </ul>
          </div>
          <div class="footer-column pull-left">
            <h4>Information</h4>
            <ul class="links">
              <li><a href="sitemap.html" title="Site Map">Site Map</a></li>
              <li><a href="#" title="Search Terms">Search Terms</a></li>
              <li><a href="#" title="Advanced Search">Advanced Search</a></li>
              <li><a href="contact-us.html" title="Privacy Policy">Privacy Policy</a></li>
              <li><a href="#" title="Suppliers">Suppliers</a></li>
              <li><a href="#" title="Our stores">Our stores</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="footer-column-last">
            <div class="newsletter-wrap">
              <h4>Sign up for emails</h4>
              <form id="newsletter-validate-detail" method="post" action="#">
                <div id="container_form_news">
                  <div id="container_form_news2">
                    <input type="text" class="input-text required-entry validate-email" value="Enter your email address" onFocus=" this.value='' " title="Sign up for our newsletter" id="newsletter" name="email">
                    <button class="button subscribe" title="Subscribe" type="submit"><span>Subscribe</span> </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="social">
              <h4>Follow Us</h4>
              <ul class="link">
                <li class="fb pull-left"><a href="#"></a></li>
                <li class="tw pull-left"><a href="#"></a></li>
                <li class="googleplus pull-left"><a href="#"></a></li>
                <li class="rss pull-left"><a href="#"></a></li>
                <li class="pintrest pull-left"><a href="#"></a></li>
                <li class="linkedin pull-left"><a href="#"></a></li>
                <li class="youtube pull-left"><a href="#"></a></li>
              </ul>
            </div>
            <div class="payment-accept">
              <div>
                <img src="assets/images/payment-1.png" alt="payment1">
                <img src="assets/images/payment-2.png" alt="payment2">
                <img src="assets/images/payment-3.png" alt="payment3">
                <img src="assets/images/payment-4.png" alt="payment4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div style="text-align:center">
          <a href="index.html">
            <img src="assets/images/footer-logo.png" alt="logo">
          </a>
        </div>
        <address>
          <i class="fa fa-map-marker"></i> 123 Main Street, Anytown, CA 12345  USA
          <i class="fa fa-mobile"></i><span> +(408) 394-7557</span>
          <i class="fa fa-envelope"></i><span> abc@magikcommerce.com</span>
        </address>
      </div>
    </div>
  </div>
  <div class="our-features-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-xs-12 col-sm-6">
          <div class="feature-box first"> <span class="fa fa-truck"></span>
            <div class="content">
              <h3>FREE SHIPPING WORLDWIDE</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12 col-sm-6">
          <div class="feature-box"> <span class="fa fa-headphones"></span>
            <div class="content">
              <h3>24X7 CUSTOMER SUPPORT</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12 col-sm-6">
          <div class="feature-box"> <span class="fa fa-share"></span>
            <div class="content">
              <h3>RETURNS AND EXCHANGE</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12 col-sm-6">
          <div class="feature-box last"> <span class="fa fa-phone"></span>
            <div class="content">
              <h3>Hotline  +(408) 394-7557</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-xs-12 coppyright">&copy; 2018 Magikcommerce. All Rights Reserved.</div>
        <div class="col-sm-7 col-xs-12 company-links">
          <ul class="links">
            <li><a href="#" title="Magento Themes">Magento Themes</a></li>
            <li><a href="#" title="Premium Themes">Premium Themes</a></li>
            <li><a href="#" title="Service Packs">Service Packs</a></li>
            <li><a href="#" title="Extensions &amp; Plugins">Extensions &amp; Plugins</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>