<div id="mobile-menu">
  <ul>
    <li>
      <div class="mm-search">
        <form id="search1" name="search">
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
            </div>
            <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
          </div>
        </form>
      </div>
    </li>
    <li>
      <a href="index.html">Home</a>
      <ul>
        <li class="level1"><a href="../fruit/newsletter.html"><span>Fruit Store</span></a></li>
        <li class="level1"><a href="newsletter.html"><span>Kid Store</span></a></li>
        <li class="level1"><a href="../furniture/newsletter.html"><span>Furniture Store</span></a></li>
      </ul>
    </li>
    <li><a href="#">Pages</a>
      <ul>
        <li><a href="grid.html">Grid</a></li>
        <li><a href="list.html">List</a></li>
        <li><a href="product_detail.html">Product Detail</a></li>
        <li><a href="shopping_cart.html">Shopping Cart</a></li>
        <li><a href="checkout.html">Checkout</a></li>
        <li><a href="wishlist.html">Wishlist</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="multiple_addresses.html">Multiple Addresses</a></li>
        <li><a href="about_us.html">About us</a></li>
        <li><a href="blog.html">Blog</a>
          <ul>
            <li><a href="blog-detail.html">Blog Detail</a></li>
          </ul>
        </li>
        <li><a href="contact_us.html">Contact us</a></li>
        <li><a href="404error.html">404 Error Page</a></li>
      </ul>
    </li>
    <li><a href="#">Clothing</a>
      <ul>
        <li><a href="grid.html"><span>Accessories</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Bibs</span></a></li>
            <li><a href="grid.html"><span>Hats &amp; Caps</span></a></li>
            <li><a href="grid.html"><span>Shawls</span></a></li>
            <li><a href="grid.html"><span>Socks</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Baby Boys</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Jeans</span></a></li>
            <li><a href="grid.html"><span>Shirts</span></a></li>
            <li><a href="grid.html"><span>Twin Sets</span></a></li>
            <li><a href="grid.html"><span>Winter Wear</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Baby Gils</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Dresses &amp; Frocks</span></a></li>
            <li><a href="grid.html"><span>Skirts</span></a></li>
            <li><a href="grid.html"><span>Twin Sets</span></a></li>
            <li><a href="grid.html"><span>Winter Wear</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Boys</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Jeans &amp; Trousers</span></a></li>
            <li><a href="grid.html"><span>Jumpsuits &amp; Rompers</span></a></li>
            <li><a href="grid.html"><span>Polos &amp; Tees</span></a></li>
            <li><a href="grid.html"><span>Shirts</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Brands</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Biba</span></a></li>
            <li><a href="grid.html"><span>Disney</span></a></li>
            <li><a href="grid.html"><span>Levis</span></a></li>
            <li><a href="grid.html"><span>Puma</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Girls</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Tops &amp; Tunics</span></a></li>
            <li><a href="grid.html"><span>Jeans &amp; Trousers</span></a></li>
            <li><a href="grid.html"><span>Shorts &amp; Capris</span></a></li>
            <li><a href="grid.html"><span>Suit Sets</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="grid.html">Games</a>
      <ul>
        <li><a href="grid.html"><span>Cards</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Fun Cards</span></a></li>
            <li><a href="grid.html"><span>Playing Cards</span></a></li>
            <li><a href="grid.html"><span>Poker &amp; Chips Set</span></a></li>
            <li><a href="grid.html"><span>Trading &amp; Flash Cards</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Educational</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Educational Computers</span></a></li>
            <li><a href="grid.html"><span>Mathematics &amp; Counting</span></a></li>
            <li><a href="grid.html"><span>Reading &amp; Writing</span></a></li>
            <li><a href="grid.html"><span>The Face of Battle</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Puzzles</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>3-D Puzzles</span></a></li>
            <li><a href="grid.html"><span>Floor Puzzles</span></a></li>
            <li><a href="grid.html"><span>Framed Puzzles</span></a></li>
            <li><a href="grid.html"><span>Jigsaw Puzzles</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Strategy</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Abstract Strategy</span></a></li>
            <li><a href="grid.html"><span>Strategy video games</span></a></li>
            <li><a href="grid.html"><span>Team Strategy</span></a></li>
            <li><a href="grid.html"><span>Wargames</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Board games</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Chess</span></a></li>
            <li><a href="grid.html"><span>Ludo</span></a></li>
            <li><a href="grid.html"><span>Master Mind</span></a></li>
            <li><a href="grid.html"><span>Monopoly</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Video games</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Action</span></a></li>
            <li><a href="grid.html"><span>Sports</span></a></li>
            <li><a href="grid.html"><span>Adventure</span></a></li>
            <li><a href="grid.html"><span>Role-playing</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="grid.html">Toys</a>
      <ul>
        <li><a href="grid.html"><span>Action figures</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Weebles</span></a></li>
            <li><a href="grid.html"><span>He-Man</span></a></li>
            <li><a href="grid.html"><span>Gumby</span></a></li>
            <li><a href="grid.html"><span>Jumping Jack</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Cars</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Corgi toy</span></a></li>
            <li><a href="grid.html"><span>Dinky toy</span></a></li>
            <li><a href="grid.html"><span>Radio-controlled</span></a></li>
            <li><a href="grid.html"><span>Slot</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Construction</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Lego</span></a></li>
            <li><a href="grid.html"><span>Lincoln Logs</span></a></li>
            <li><a href="grid.html"><span>Mega Bloks</span></a></li>
            <li><a href="grid.html"><span>Stickle bricks</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Dolls</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>African dolls</span></a></li>
            <li><a href="grid.html"><span>Apple doll</span></a></li>
            <li><a href="grid.html"><span>Barbie dolls</span></a></li>
            <li><a href="grid.html"><span>Celebrity doll</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Creative</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Cleversticks</span></a></li>
            <li><a href="grid.html"><span>Colorforms</span></a></li>
            <li><a href="grid.html"><span>Crayola Crayons</span></a></li>
            <li><a href="grid.html"><span>Creepy Crawlers</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Electronic</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Digital pet</span></a></li>
            <li><a href="grid.html"><span>Entertainment robot</span></a></li>
            <li><a href="grid.html"><span>Robot dog</span></a></li>
            <li><a href="grid.html"><span>Robot kit</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="grid.html">Shoes</a>
      <ul>
        <li><a href="grid.html"><span>Boys</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Floaters</span></a></li>
            <li><a href="grid.html"><span>Loafers</span></a></li>
            <li><a href="grid.html"><span>Sneakers</span></a></li>
            <li><a href="grid.html"><span>Sports Shoes</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Girls</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Bellies</span></a></li>
            <li><a href="grid.html"><span>Sneakers</span></a></li>
            <li><a href="grid.html"><span>Sports Shoes</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Adidas</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Brands</span></a></li>
            <li><a href="grid.html"><span>Nike</span></a></li>
            <li><a href="grid.html"><span>Puma</span></a></li>
            <li><a href="grid.html"><span>Reebok</span></a></li>
          </ul>
        </li>
        <li><a href="grid.html"><span>Material</span></a>
          <ul class="level1">
            <li><a href="grid.html"><span>Faux Leather</span></a></li>
            <li><a href="grid.html"><span>RubberCanvas</span></a></li>
            <li><a href="grid.html"><span>Fabric</span></a></li>
            <li><a href="grid.html"><span>Synthetic</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="grid.html">Drawing</a></li>
    <li><a href="contact-us.html">Contact Us</a></li>
  </ul>
  <div class="top-links">
    <ul class="links">
      <li><a title="My Account" href="login.html">My Account</a></li>
      <li><a title="Wishlist" href="wishlist.html">Wishlist</a></li>
      <li><a title="Checkout" href="checkout.html">Checkout</a></li>
      <li><a title="Blog" href="blog.html"><span>Blog</span></a></li>
      <li class="last"><a title="Login" href="login.html"><span>Login</span></a></li>
    </ul>
  </div>
</div>