<div class="block block-tags">
  <div class="block-title">Search by Tags</div>
  <div class="block-content">
    <ul class="tags-list">
      <li><a href="#" title="baby">baby</a></li>
      <li><a href="#" title="children">children</a></li>
      <li><a href="#" title="education">education</a></li>
      <li><a href="#" title="Food">events</a></li>
      <li><a href="#" title="kids">kids</a></li>
      <li><a href="#" title="teacher">teacher</a></li>
      <li><a href="#" title="craft">craft</a></li>
      <li><a href="#" title="colorful">colorful</a></li>
    </ul>
  </div>
</div>