<section class="main-container col1-layout">
  <div class="main">
    <div class="container"> 
      <div class="related-pro">
        <div class="slider-items-products">
          <div class="related-block">
            <div id="related-products-slider" class="product-flexslider hidden-buttons">
              <div class="home-block-inner">
                <div class="block-title">
                  <h2>Related<br>
                    <em> Products</em></h2>
                </div>
                <div class="pretext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Curabitur eu odio non justo euismod congue ut nec orci. </div>
                <a href="grid.html" class="view_more_bnt">View All</a> </div>
              <div class="slider-items slider-width-col4 products-grid block-content">
                <div class="item">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
                        <div class="new-label new-top-right">new</div>
                        <div class="box-hover">
                          <ul class="add-to-links">
                            <li><a class="link-quickview" href="quick_view.html">Quick View</a></li>
                            <li><a class="link-wishlist" href="wishlist.html">Wishlist</a></li>
                            <li><a class="link-compare" href="compare.html">Compare</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"><a title="Retis lapen casen" href="product_detail.html">Retis lapen casen </a> </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating width80"></div>
                            </div>
                            <p class="rating-links"><a href="#">1 Review(s)</a><span class="separator">|</span><a href="#">Add Review</a></p>
                          </div>
                        </div>
                        <div class="item-content">
                          <div class="item-price">
                            <div class="price-box"><span class="regular-price"><span class="price">$125.00</span></span></div>
                          </div>
                          <div class="action">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Item -->
                <div class="item">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
                        <div class="box-hover">
                          <ul class="add-to-links">
                            <li><a class="link-quickview" href="quick_view.html">Quick View</a></li>
                            <li><a class="link-wishlist" href="wishlist.html">Wishlist</a></li>
                            <li><a class="link-compare" href="compare.html">Compare</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"><a title="Retis lapen casen" href="product_detail.html">Retis lapen casen </a> </div>
                        <div class="item-content">
                          <div class="rating">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating width80"></div>
                              </div>
                              <p class="rating-links"><a href="#">1 Review(s)</a><span class="separator">|</span><a href="#">Add Review</a></p>
                            </div>
                          </div>
                          <div class="item-price">
                            <div class="price-box"><span class="regular-price"><span class="price">$235.00</span></span></div>
                          </div>
                          <div class="action">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Item --> 
                
                <!-- Item -->
                <div class="item">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
                        <div class="box-hover">
                          <ul class="add-to-links">
                            <li><a class="link-quickview" href="quick_view.html">Quick View</a></li>
                            <li><a class="link-wishlist" href="wishlist.html">Wishlist</a></li>
                            <li><a class="link-compare" href="compare.html">Compare</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"><a title="Retis lapen casen" href="product_detail.html">Retis lapen casen </a> </div>
                        <div class="item-content">
                          <div class="rating">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating width80"></div>
                              </div>
                              <p class="rating-links"><a href="#">1 Review(s)</a><span class="separator">|</span><a href="#">Add Review</a></p>
                            </div>
                          </div>
                          <div class="item-price">
                            <div class="price-box"><span class="regular-price"><span class="price">$325.00</span></span></div>
                          </div>
                          <div class="action">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Item -->
                
                <div class="item">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
                        <div class="new-label new-top-left">new</div>
                        <div class="box-hover">
                          <ul class="add-to-links">
                            <li><a class="link-quickview" href="quick_view.html">Quick View</a></li>
                            <li><a class="link-wishlist" href="wishlist.html">Wishlist</a></li>
                            <li><a class="link-compare" href="compare.html">Compare</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"><a title="Retis lapen casen" href="product_detail.html">Retis lapen casen </a> </div>
                        <div class="item-content">
                          <div class="rating">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating width80"></div>
                              </div>
                              <p class="rating-links"><a href="#">1 Review(s)</a><span class="separator">|</span><a href="#">Add Review</a></p>
                            </div>
                          </div>
                          <div class="item-price">
                            <div class="price-box"><span class="regular-price"><span class="price">$425.00</span></span></div>
                          </div>
                          <div class="action">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Item -->
                <div class="item">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
                        <div class="box-hover">
                          <ul class="add-to-links">
                            <li><a class="link-quickview" href="quick_view.html">Quick View</a></li>
                            <li><a class="link-wishlist" href="wishlist.html">Wishlist</a></li>
                            <li><a class="link-compare" href="compare.html">Compare</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"><a title="Retis lapen casen" href="product_detail.html">Retis lapen casen </a> </div>
                        <div class="item-content">
                          <div class="rating">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating width80"></div>
                              </div>
                              <p class="rating-links"><a href="#">1 Review(s)</a><span class="separator">|</span><a href="#">Add Review</a></p>
                            </div>
                          </div>
                          <div class="item-price">
                            <div class="price-box"><span class="regular-price"><span class="price">$525.00</span></span></div>
                          </div>
                          <div class="action">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Item -->
                <div class="item">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
                        <div class="box-hover">
                          <ul class="add-to-links">
                            <li><a class="link-quickview" href="quick_view.html">Quick View</a></li>
                            <li><a class="link-wishlist" href="wishlist.html">Wishlist</a></li>
                            <li><a class="link-compare" href="compare.html">Compare</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"><a title="Retis lapen casen" href="product_detail.html">Retis lapen casen </a> </div>
                        <div class="item-content">
                          <div class="rating">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating width80"></div>
                              </div>
                              <p class="rating-links"><a href="#">1 Review(s)</a><span class="separator">|</span><a href="#">Add Review</a></p>
                            </div>
                          </div>
                          <div class="item-price">
                            <div class="price-box"><span class="regular-price"><span class="price">$225.00</span></span></div>
                          </div>
                          <div class="action">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item -->
                <div class="item">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
                        <div class="box-hover">
                          <ul class="add-to-links">
                            <li><a class="link-quickview" href="quick_view.html">Quick View</a></li>
                            <li><a class="link-wishlist" href="wishlist.html">Wishlist</a></li>
                            <li><a class="link-compare" href="compare.html">Compare</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"><a title="Retis lapen casen" href="product_detail.html">Retis lapen casen </a> </div>
                        <div class="item-content">
                          <div class="rating">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating width80"></div>
                              </div>
                              <p class="rating-links"><a href="#">1 Review(s)</a><span class="separator">|</span><a href="#">Add Review</a></p>
                            </div>
                          </div>
                          <div class="item-price">
                            <div class="price-box"><span class="regular-price"><span class="price">$185.00</span></span></div>
                          </div>
                          <div class="action">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Item --> 
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>