<!-- Top Cart -->
<div class="mini-cart">
  <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
    <a href="shopping_cart.html"><span class="cart_count">3</span><span class="price">My Cart / $399.00</span></a>
  </div>
  <div>
    <div class="top-cart-content"> 
    <!--block-subtitle-->
    <ul class="mini-products-list" id="cart-sidebar">
      <li class="item first">
      <div class="item-inner"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
        <div class="product-details">
          <div class="access">
            <a class="btn-remove1" title="Remove This Item" href="#">Remove</a>
            <a class="btn-edit" title="Edit item" href="#">
              <i class="icon-pencil"></i>
              <span class="hidden">Edit item</span>
            </a>
          </div>
          <strong>1</strong> x <span class="price">$179.99</span>
          <p class="product-name"><a href="product_detail.html">Retis lapen casen</a></p>
        </div>
      </div>
      </li>
      <li class="item">
      <div class="item-inner"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
          <div class="product-details">
          <div class="access"><a class="btn-remove1" title="Remove This Item" href="#">Remove</a><a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a></div>
          <strong>1</strong> x <span class="price">$89.99</span>
          <p class="product-name"><a href="product_detail.html">Retis lapen casen</a></p>
          </div>
      </div>
      </li>
      <li class="item last">
      <div class="item-inner"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
          <div class="product-details">
          <div class="access"><a class="btn-remove1" title="Remove This Item" href="#">Remove</a><a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a></div>
          <strong>1</strong> x <span class="price">$80.00</span>
          <p class="product-name"><a href="product_detail.html">Retis lapen casen</a></p>
          </div>
      </div>
      </li>
    </ul>
    <!--actions-->
    <div class="actions">
      <button class="btn-checkout" title="Checkout" type="button" onclick="location.href='checkout.html';"><span>Checkout</span></button>
      <a href="shopping_cart.html" class="view-cart"><span>View Cart</span></a></div>
    </div>
  </div>
</div>
<!-- Top Cart --> 