<div class="item-inner">
  <div class="item-img">
    <div class="item-img-info"> <a href="product_detail.html" title="Retis lapen casen" class="product-image"> <img src="http://via.placeholder.com/700x850" alt="Retis lapen casen"></a>
      <div class="new-label new-top-left">New</div>
      <div class="box-hover">
        <ul class="add-to-links">
          <li><a class="link-quickview" href="quick_view.html">Quick View</a></li>
          <li><a class="link-wishlist" href="wishlist.html">Wishlist</a></li>
          <li><a class="link-compare" href="compare.html">Compare</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="item-info">
    <div class="info-inner">
      <div class="item-title"><a title="Retis lapen casen" href="product_detail.html">Retis lapen casen</a></div>
      <div class="item-content">
        <div class="rating">
          <div class="ratings">
            <div class="rating-box">
              <div class="rating width80"></div>
            </div>
            <p class="rating-links"><a href="#">1 Review(s)</a><span class="separator">|</span><a href="#">Add Review</a></p>
          </div>
        </div>
        <div class="item-price">
          <div class="price-box">
            <p class="old-price"><span class="price-label">Regular Price:</span><span class="price">$100.00</span></p>
            <p class="special-price"><span class="price-label">Special Price</span><span class="price">$90.00</span></p>
          </div>
        </div>
        <div class="action">
          <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
        </div>
      </div>
    </div>
  </div>
</div>