<header>
    <div class="header-container">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <brezza-header-culture></brezza-header-culture>
                    <brezza-header-toplinks></brezza-header-toplinks>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <brezza-header-logo></brezza-header-logo>
                <brezza-header-searchbox></brezza-header-searchbox>
                <brezza-header-topcart></brezza-header-topcart>
            </div>
        </div>
    </div>
    <brezza-header-navigation></brezza-header-navigation>
</header>