<div class="bottom-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner-inner">
          <div class="banner-details">
            <div class="banner-sub-title">Clothing sale</div>
            <div class="banner-title">75 </div>
            <span class="mgk-prc">%</span> <span class="mgk-off">off</span>
            <div class="banner-desc">Lorem Ipsum dolor sit amet, consectetuer adipiscing.</div>
          </div>
          <img alt="banner" src="http://via.placeholder.com/1230x220"></div>
      </div>
    </div>
  </div>
</div>