<div class="col-md-3 col-xs-12 hot-deal">
  <ul class="products-grid">
    <li class="right-space two-height item">
      <div class="item-inner">
        <div class="item-img">
          <div class="item-img-info"><a href="product_detail.html" title="Retis lapen casen" class="product-image">
            <img src="http://via.placeholder.com/700x850" alt="Retis lapen casen"></a>
            <div class="hot-label hot-top-left">hot</div>
            <div class="new-label new-top-right">new</div>
            <div class="sale-label sale-top-left">sale</div>
            <div class="box-hover">
              <ul class="add-to-links">
                <li><a class="link-quickview" href="quick_view.html">Vista Rapida</a></li>
                <li><a class="link-wishlist" href="wishlist.html">Favoritos</a></li>
                <li><a class="link-compare" href="compare.html">Comparar</a></li>
              </ul>
            </div>
            <div class="box-timer">
              <div class="countbox_1 timer-grid"></div>
            </div>
          </div>
        </div>
        <div class="item-info">
          <div class="info-inner">
            <div class="item-title">
              <a [routerLink]="['/product']" title="Retis lapen casen">Retis lapen casen</a>
            </div>
            <div class="item-content">
              <div class="rating">
                <div class="ratings">
                  <div class="rating-box">
                    <div class="rating width80"></div>
                  </div>
                  <p class="rating-links">
                    <a href="#">1 Review(s)</a>
                    <span class="separator">|</span>
                    <a href="#">Add Review</a>
                  </p>
                </div>
              </div>
              <div class="item-price">
                <div class="price-box"><span class="regular-price"><span class="price">$125.00</span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>