<article class="col-main">
  <h2 class="page-heading"><span class="page-heading-title">{{category?.name}}</span> </h2>
  <div class="display-product-option">
    <!--div class="pager hidden-xs">
      <div class="pages">
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div-->
    <!--div class="sorter">
      <div class="view-mode">
        <span title="Grid" class="button button-active button-grid">&nbsp;</span>
        <a [routerLink]="['/']" title="List" class="button-list">&nbsp;</a>
      </div>
    </div-->
  </div>
  <div class="category-products">
    <ul class="products-grid">
      <li *ngFor="let p of productsPaged?.data" brezza-product-grid-item [product]="p"></li>
    </ul>
  </div>
  <!--div class="toolbar">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div id="sort-by">
          <label class="left">Organizar: </label>
          <ul>
            <li>
              <a href="#">Posición<span class="right-arrow"></span></a>
              <ul>
                <li><a href="#">Nombre</a></li>
                <li><a href="#">Precio</a></li>
                <li><a href="#">Posición</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-sm-7 col-md-5">
        <div class="pager">
          <div class="pages">
            <label>Página:</label>
            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-3">
        <div id="limiter">
          <label>Ver: </label>
          <ul>
            <li><a href="#">09<span class="right-arrow"></span></a>
              <ul>
                <li><a href="#">15</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">30</a></li>
                <li><a href="#">35</a></li>
              </ul>
            </li>
          </ul>
          <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a> </div>
      </div>
    </div>
  </div-->
</article>