<div class="card">
  <div class="card-body">
    <div class="card-header" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
        <a [routerLink]="['/product',product.slug]">{{product.name}}</a>
    </div>
    <img class="card-img-top" src="/assets/product.png" alt="Priduct">
    <div>
      <span *ngIf="false" class="badge badge-pill badge-dark">New</span>
      <span *ngIf="product.dct_price" class="badge badge-pill badge-dark">Special Offer</span>
      &nbsp;<span class="badge badge-pill badge-primary invisible">!</span>
    </div>
    <div>
      <ng-container *ngIf="product.dct_price">
        <span>${{product.dct_price}}</span>&nbsp;<span><s>${{product.org_price}}</s></span>
      </ng-container>
      <ng-container *ngIf="!product.dct_price">
        <span>${{product.org_price}}</span>
      </ng-container>
    </div>
  </div>
</div>
