<nav>
  <div class="container">
    <div class="mm-toggle-wrap">
      <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span></div>
    </div>
    <div class="nav-inner"> 
      <ul id="nav" class="hidden-xs">
        <li class="level0 parent drop-menu" id="nav-home"><a href="index.html" class="level-top"><span>Home</span></a>
          <ul class="level1">
            <li class="level1"><a href="../fruit/newsletter.html"><span>Fruit Store</span></a></li>
            <li class="level1"><a href="newsletter.html"><span>Kid Store</span></a></li>
            <li class="level1"><a href="../furniture/newsletter.html"><span>Furniture Store</span></a></li>
          </ul>
        </li>
        <li class="level0 nav-6 level-top drop-menu"><a class="level-top" href="#"><span>Pages</span></a>
          <ul class="level1">
            <li class="level2 first"><a href="grid.html"><span>Grid</span></a></li>
            <li class="level2"><a href="list.html"><span>List</span></a></li>
            <li class="level2"><a href="product_detail.html"><span>Product Detail</span></a></li>
            <li class="level2"><a href="shopping_cart.html"><span>Shopping Cart</span></a></li>
            <li class="level2 parent"><a href="checkout.html"><span>Checkout</span></a></li>
            <li class="level1"><a href="wishlist.html"><span>Wishlist</span></a></li>
            <li class="level1"><a href="dashboard.html"><span>Dashboard</span></a></li>
            <li class="level1"><a href="multiple_addresses.html"><span>Multiple Addresses</span></a></li>
            <li class="level1"><a href="compare.html"><span>Compare</span></a></li>
            <li class="level1"><a href="quick_view.html"><span>Quick View</span></a></li>
            <li class="level1"><a href="newsletter.html"><span>Newsletter</span></a></li>
            <li class="level1"><a href="404error.html"><span>404 Error Page</span></a></li>
          </ul>
        </li>
        <li class="mega-menu"><a class="level-top" href="grid.html"><span>Clothing</span></a>
          <div class="level0-wrapper dropdown-6col">
            <div class="container">
              <div class="level0-wrapper2">
                <div class="nav-block nav-block-center">
                  <ul class="level0">
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Accessories</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Bibs</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Hats &amp; Caps</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Shawls</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Socks</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Baby Boys</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Jeans</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Shirts</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Twin Sets</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Winter Wear</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Baby Gils</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Dresses &amp; Frocks</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Skirts</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Twin Sets</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Winter Wear</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Boys</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Jeans &amp; Trousers</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Jumpsuits &amp; Rompers</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Polos &amp; Tees</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Shirts</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Brands</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Biba</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Disney</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Levis</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Puma</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Girls</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Tops &amp; Tunics</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Jeans &amp; Trousers</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Shorts &amp; Capris</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Suit Sets</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="nav-add">
                  <div class="push_item">
                    <div class="push_img"><a href="#"><img src="assets/images/menu-banner1.png" alt="offer banner"></a></div>
                  </div>
                  <div class="push_item push_item_last">
                    <div class="push_img"><a href="#"><img src="assets/images/menu-banner2.png" alt="add banner"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="mega-menu"><a class="level-top" href="grid.html"><span>Games</span></a>
          <div class="level0-wrapper dropdown-6col">
            <div class="container">
              <div class="level0-wrapper2">
                <div class="nav-block nav-block-center">
                  <div class="col-1">
                    <ul class="level0">
                      <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Cards</span></a>
                        <ul class="level1">
                          <li class="level2"><a href="grid.html"><span>Fun Cards</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Playing Cards</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Poker &amp; Chips Set</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Trading &amp; Flash Cards</span></a></li>
                        </ul>
                      </li>
                      <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Educational</span></a>
                        <ul class="level1">
                          <li class="level2"><a href="grid.html"><span>Educational Computers</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Mathematics &amp; Counting</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Reading &amp; Writing</span></a></li>
                          <li class="level2"><a href="grid.html"><span>The Face of Battle</span></a></li>
                        </ul>
                      </li>
                      <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Puzzles</span></a>
                        <ul class="level1">
                          <li class="level2"><a href="grid.html"><span>3-D Puzzles</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Floor Puzzles</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Framed Puzzles</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Jigsaw Puzzles</span></a></li>
                        </ul>
                      </li>
                      <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Strategy</span></a>
                        <ul class="level1">
                          <li class="level2"><a href="grid.html"><span>Abstract Strategy</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Strategy video games</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Team Strategy</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Wargames</span></a></li>
                        </ul>
                      </li>
                      <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Board games</span></a>
                        <ul class="level1">
                          <li class="level2"><a href="grid.html"><span>Chess</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Ludo</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Master Mind</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Monopoly</span></a></li>
                        </ul>
                      </li>
                      <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Video games</span></a>
                        <ul class="level1">
                          <li class="level2"><a href="grid.html"><span>Action</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Sports</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Adventure</span></a></li>
                          <li class="level2"><a href="grid.html"><span>Role-playing</span></a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <div class="menu_image1"><a href="#"><img alt="menu banner image" src="assets/images/kid-banner.png"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="mega-menu"><a class="level-top" href="grid.html"><span>Toys</span></a>
          <div class="level0-wrapper dropdown-6col">
            <div class="container">
              <div class="level0-wrapper2">
                <div class="nav-block nav-block-center">
                  <ul class="level0">
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Action figures</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Weebles</span></a></li>
                        <li class="level2"><a href="grid.html"><span>He-Man</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Gumby</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Jumping Jack</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Cars</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Corgi toy</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Dinky toy</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Radio-controlled</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Slot</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Construction</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Lego</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Lincoln Logs</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Mega Bloks</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Stickle bricks</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Dolls</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>African dolls</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Apple doll</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Barbie dolls</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Celebrity doll</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Creative</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Cleversticks</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Colorforms</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Crayola Crayons</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Creepy Crawlers</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Electronic</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Digital pet</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Entertainment robot</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Robot dog</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Robot kit</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="mega-menu"><a class="level-top" href="grid.html"><span>Shoes</span></a>
          <div class="level0-wrapper dropdown-6col">
            <div class="container">
              <div class="level0-wrapper2">
                <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">
                  <ul class="level0">
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Boys</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Floaters</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Loafers</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Sneakers</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Sports Shoes</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Girls</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Bellies</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Sneakers</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Sports Shoes</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Adidas</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Brands</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Nike</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Puma</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Reebok</span></a></li>
                      </ul>
                    </li>
                    <li class="level3 nav-6-1 parent item"><a href="grid.html"><span>Material</span></a>
                      <ul class="level1">
                        <li class="level2"><a href="grid.html"><span>Faux Leather</span></a></li>
                        <li class="level2"><a href="grid.html"><span>RubberCanvas</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Fabric</span></a></li>
                        <li class="level2"><a href="grid.html"><span>Synthetic</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="nav-block nav-block-right std grid12-4"><img src="assets/images/kid-shoes.png" alt="add menu banner"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="mega-menu"><a class="level-top" href="grid.html"><span>Drawing</span></a></li>
        <li class="nav-custom-link mega-menu"><a href="#" class="level-top"><span>Custom</span></a>
          <div class="level0-wrapper custom-menu">
            <div class="container">
              <div class="header-nav-dropdown-wrapper clearer">
                <div class="grid12-3">
                  <h4 class="heading">48 Hours Only!</h4>
                  <p>Lorem ipsum dolor sit amet, elit ac praesent eleifend, eleifend tortor morbi felis, sed erat id metus morbi.</p>
                  <div><img src="http://via.placeholder.com/255x150" alt="48 Hours Only"></div>
                </div>
                <div class="grid12-3">
                  <h4 class="heading">Flat 30% on Kids</h4>
                  <p>Lorem ipsum dolor sit amet, elit ac praesent eleifend, eleifend tortor morbi felis, sed erat id metus morbi.</p>
                  <div><img src="http://via.placeholder.com/255x150" alt="Flat 30% on Kids"></div>
                </div>
                <div class="grid12-3">
                  <h4 class="heading">Hot Collection!</h4>
                  <p>Lorem ipsum dolor sit amet, elit ac praesent eleifend, eleifend tortor morbi felis, sed erat id metus morbi.</p>
                  <div><img src="http://via.placeholder.com/255x150" alt="Hot Collection"></div>
                </div>
                <div class="grid12-3">
                  <h4 class="heading">New Arrivals!</h4>
                  <p>Lorem ipsum dolor sit amet, elit ac praesent eleifend, eleifend tortor morbi felis, sed erat id metus morbi.</p>
                  <div><img src="http://via.placeholder.com/255x150" alt="New Arrivals"></div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>