<nav>
  <div class="container">
    <div class="mm-toggle-wrap">
      <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span></div>
    </div>
    <div class="nav-inner"> 
      <ul id="nav" class="hidden-xs">
        <li *ngFor="let item of topmenu" brezza-nav-menuitem-simple [item]="item"></li>
        
        <li class="nav-custom-link mega-menu"><a href="#" class="level-top"><span>Custom</span></a>
          <div class="level0-wrapper custom-menu">
            <div class="container">
              <div class="header-nav-dropdown-wrapper clearer">
                <div class="grid12-3">
                  <h4 class="heading">48 Hours Only!</h4>
                  <p>Lorem ipsum dolor sit amet, elit ac praesent eleifend, eleifend tortor morbi felis, sed erat id metus morbi.</p>
                  <div><img src="http://via.placeholder.com/255x150" alt="48 Hours Only"></div>
                </div>
                <div class="grid12-3">
                  <h4 class="heading">Flat 30% on Kids</h4>
                  <p>Lorem ipsum dolor sit amet, elit ac praesent eleifend, eleifend tortor morbi felis, sed erat id metus morbi.</p>
                  <div><img src="http://via.placeholder.com/255x150" alt="Flat 30% on Kids"></div>
                </div>
                <div class="grid12-3">
                  <h4 class="heading">Hot Collection!</h4>
                  <p>Lorem ipsum dolor sit amet, elit ac praesent eleifend, eleifend tortor morbi felis, sed erat id metus morbi.</p>
                  <div><img src="http://via.placeholder.com/255x150" alt="Hot Collection"></div>
                </div>
                <div class="grid12-3">
                  <h4 class="heading">New Arrivals!</h4>
                  <p>Lorem ipsum dolor sit amet, elit ac praesent eleifend, eleifend tortor morbi felis, sed erat id metus morbi.</p>
                  <div><img src="http://via.placeholder.com/255x150" alt="New Arrivals"></div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>