<section class="bestsell-pro">
  <div class="container">
    <div class="block-title">
      <h2>Best  Sellers</h2>
    </div>
    <div class="slider-items-products">
      <div class="bestsell-block">
        <div id="bestsell-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4 products-grid block-content">
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>