<section class="bestsell-pro">
  <div class="container">
    <div class="block-title">
      <h2>Mas Vendidos</h2>
    </div>
    <div class="slider-items-products">
      <div class="bestsell-block">
        <div id="bestsell-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4 products-grid block-content">
            <div brezza-product-item-div *ngFor="let p of bestSellers" [product]="p"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>