<a class="btn btn-primary" [routerLink]="['/invite']">Invite User</a>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <a class="btn btn-warning" [routerLink]="['/user/edit',user.id]">Edit</a>
        <button class="btn btn-danger" (click)="delete(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary">Load More</button>