<div class="row">
  <div class="col-md-12"> 
    <a class="btn btn-primary" [routerLink]="['/users/create']">Crear Usuario</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12"> 
    <ultimate-pager [paged]="usersPaged"></ultimate-pager>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;let i=index">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <a class="btn btn-warning" [routerLink]="['/user/edit',user.id]">Edit</a>
        <button class="btn btn-danger" (click)="delete(user, i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>