<div class="card" style="width: 100%">
  <div class="card-body">
    <form id="loginForm">
      <p class="h5 card-title">Login</p>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="johndoe@mail.com">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">Remember me</label>
      </div>
      <div>
        <a href="#" class="btn btn-primary">Login</a>
      </div>
      <div>
        <a href="#">Forgot password?</a>
      </div>
    </form>
  </div>
</div>