<div class="card" style="width: 100%">
  <div class="card-body">
    <form (ngSubmit)="requestLogin()">
      <p class="h5 card-title">Login</p>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="johndoe@mail.com" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">Remember me</label>
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="req().isRequesting()">Login</button>
        <img src="assets/loading.svg" alt="Loading" width="38px" *ngIf="req().isRequesting()" >
      </div>
      <div>
        <a href="#">Forgot password?</a>
      </div>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="errorAlert">
      <span>{{errorMsg}}</span>
    </div>
  </div>
</div>