<div class="col-xs-6 hidden-xs">
  <div class="toplinks">
    <div class="links">
      <!--div class="myaccount"><a href="login.html"><span class="hidden-xs">My Account</span></a></div-->
      <!--div class="check"><a href="checkout.html"><span class="hidden-xs">Checkout</span></a></div-->
      <!--div class="demo"><a href="blog.html"><span class="hidden-xs">Blog</span></a></div-->
      <!--div class="dropdown block-company-wrapper hidden-xs">
        <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#">Company <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li role="presentation"><a [routerLink]="['/about']">About Us</a></li>
          <li role="presentation"><a [routerLink]="['/sitemap']">Site Map</a></li>
          <li role="presentation"><a [routerLink]="['/terms']">Terms of Service</a></li>
          <li role="presentation"><a [routerLink]="['/privacy']">Privacy Policy</a></li>
          <li role="presentation"><a [routerLink]="['/faq']">FAQ</a></li>
        </ul>
      </div-->
      <!--div class="login"><a href="login.html"><span class="hidden-xs">Log In</span></a></div-->
    </div>
  </div>
</div>