<div class="footer-middle">
  <div class="container">
    <div class="row">
      <div style="text-align:center">
        <a href="index.html">
          <img src="assets/images/footer-logo.png" alt="logo">
        </a>
      </div>
      <address>
        <i class="fa fa-map-marker"></i> {{company.address}}, {{company.city}}, {{company.state}} {{company.zip}}  {{company.country}}
        <i class="fa fa-mobile"></i><span> {{company.phone}}</span>
        <i class="fa fa-envelope"></i><span> {{company.email}}</span>
      </address>
    </div>
  </div>
</div>