<div class="item-info">
  <div class="info-inner">
    <div class="item-title"><a title="Retis lapen casen" [routerLink]="['/producto', product?.slug]">{{product?.name}}</a></div>
    <div class="item-content">
      <div class="rating">
        <div class="ratings">
          <div class="rating-box">
            <div class="rating width{{rating}}"></div>
          </div>
          <p class="rating-links"><a href="#">1 Calif.</a><span class="separator">|</span><a href="#">Agregar Calif.</a></p>
        </div>
      </div>
      <div class="item-price">
        <div class="price-box" *ngIf="product?.dct_price">
          <p class="special-price"><span class="price-label">Precio Especial:</span><span class="price">{{product?.dct_price | currency}}</span></p>
          <p class="old-price"><span class="price-label">Precio Regular:</span><span class="price">{{product?.org_price | currency}}</span></p>
        </div>
        <div class="price-box" *ngIf="!product?.dct_price">
          <p class="special-price"><span class="price-label">Precio Regular:</span><span class="price">{{product?.org_price | currency}}</span></p>
        </div>
      </div>
      <!--div class="action">
        <button class="button btn-cart" type="button"><span>Agregar al Carrito</span></button>
      </div-->
    </div>
  </div>
</div>