<section class="featured-pro">
  <div class="container">
    <div class="slider-items-products">
      <div class="featured-block">
        <div id="featured-slider" class="product-flexslider hidden-buttons">
          <div class="home-block-inner">
            <div class="block-title">
              <h2>Featured <em>Product</em></h2>
            </div>
            <div class="pretext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Curabitur eu odio non justo euismod congue ut nec orci.</div>
            <a href="grid.html" class="view_more_bnt">View All</a> </div>
          <div class="slider-items slider-width-col4 products-grid block-content">
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
            <brezza-product-item-div></brezza-product-item-div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>