/* You can add global styles to this file, and also import other style files */

/*FORMS*/
.ng-valid[required], .ng-valid.required, input.ng-valid  {
    border-left: 5px solid #42A948; /* green */
    border-color: #42A948;
}

.ng-touched.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
    border-color: #a94442;
}

.err-feedback {
    color:#a94442;
    visibility: hidden;
}

.ng-touched.ng-invalid + .err-feedback {
    visibility: visible;
}