<li class="item col-md-3 col-sm-4 col-xs-12">
  <div class="item-inner">
    <div class="item-img">
      <div class="item-img-info"><a class="product-image" title="Retis lapen casen" href="product_detail.html"><img alt="Retis lapen casen" src="http://via.placeholder.com/700x850"></a>
        <div class="new-label new-top-right">new</div>
        <div class="box-hover">
          <ul class="add-to-links">
            <li><a class="link-quickview" href="quick_view.html">Quick View</a></li>
            <li><a class="link-wishlist" href="wishlist.html">Wishlist</a></li>
            <li><a class="link-compare" href="compare.html">Compare</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item-info">
      <div class="info-inner">
        <div class="item-title"><a title="Retis lapen casen" href="product_detail.html">Retis lapen casen</a></div>
        <div class="item-content">
          <div class="rating">
            <div class="ratings">
              <div class="rating-box">
                <div class="rating width80"></div>
              </div>
              <p class="rating-links"><a href="#">1 Review(s)</a><span class="separator">|</span><a href="#">Add Review</a></p>
            </div>
          </div>
          <div class="item-price">
            <div class="price-box">
              <p class="special-price"><span class="price-label">Special Price</span><span class="price">$156.00</span></p>
              <p class="old-price"><span class="price-label">Regular Price:</span><span class="price">$167.00</span></p>
            </div>
          </div>
          <div class="action">
            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>