<div class="category-description std">
  <div class="slider-items-products">
    <div id="category-desc-slider" class="product-flexslider hidden-buttons">
      <div class="slider-items slider-width-col1 owl-carousel owl-theme"> 
        <div class="item"> <a href="#"><img alt="Super Kids" src="http://via.placeholder.com/915x390"></a>
          <div class="cat-img-title cat-bg cat-box">
            <div class="small-tag">Super Kids</div>
            <h2 class="cat-heading">New Collection</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
          <div class="item"> <a href="#"><img alt="Reliability good" src="http://via.placeholder.com/915x390"></a>
          <div class="cat-img-title cat-bg cat-box">
            <div class="small-tag">Best Price</div>
            <h2 class="cat-heading">Reliability good</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>                                
        </div>
      </div>
    </div>
  </div>
</div>