<section class="main-container col1-layout">
  <div class="main container">
    <div class="col-main">
      <div class="cart wow">
        <div class="page-title">
          <h2>Mapa del sitio</h2>
        </div>
        <div class="row content-row">
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-4">
            <ul class="simple-list arrow-list bold-list">
              <li *ngFor="let item of sitemap">
                <a [routerLink]="item.path">{{item.label}}</a>
                <ul *ngIf="item.children">
                  <li *ngFor="let c of item.children"><a [routerLink]="c.path">{{c.label}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-4">
            
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="img-responsive animate scale" [attr.src]="assets('images/large-icon-sitemap.png')" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>