<div class="block block-layered-nav">
  <div class="block-title">Shop By</div>
  <div class="block-content">
    <p class="block-subtitle">Shopping Options</p>
    <div class="price-filter">
      <label><strong>Price</strong></label>
      <ul>
        <li>
          <input type="checkbox" class="custom-control-input" id="below-50">
          <label class="custom-control-label" for="below-50">below-$50</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="51-100">
          <label class="custom-control-label" for="51-100">$51-$100</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="101-200">
          <label class="custom-control-label" for="101-200">$101-$200</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="201-350">
          <label class="custom-control-label" for="201-350">$201-$350</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="above-350">
          <label class="custom-control-label" for="above-350">above-$350</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="30-50">
          <label class="custom-control-label" for="30-50">$30-50</label>
        </li>
      </ul>
    </div>
    <div class="brand-box">
      <label><strong>Brand</strong></label>
      <ul>
        <li>
          <input type="checkbox" class="custom-control-input" id="the-solas" data-value="the-solas">
          <label class="custom-control-label" for="the-solas">The Solas</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="daves-killer-bread" data-value="daves-killer-bread">
          <label class="custom-control-label" for="daves-killer-bread">Dave's Killer Bread</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="sunbeam-bread" data-value="sunbeam-bread">
          <label class="custom-control-label" for="sunbeam-bread">Sunbeam Bread</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="kit-kat" data-value="kit-kat">
          <label class="custom-control-label" for="kit-kat">Kit Kat</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="oreo" data-value="oreo">
          <label class="custom-control-label" for="oreo">Oreo</label>
        </li>
      </ul>
    </div>
    <div class="colors-box">
      <label><strong>Colors</strong></label>
      <div class="color-selector">
        <ul class="sidebar_color">
          <li class="black"></li>
          <li class="gray"></li>
          <li class="orange"></li>
          <li class="red"></li>
          <li class="white"></li>
          <li class="yellow"></li>
          <li class="green"></li>
          <li class="blue"></li>
        </ul>
      </div>
    </div>
    <div class="size-box">
      <label><strong>Size</strong></label>
      <ul class="sidebar_size">
        <li>
          <input type="checkbox" class="custom-control-input" id="s" data-value="s">
          <label class="custom-control-label" for="s">S</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="m" data-value="m">
          <label class="custom-control-label" for="m">M</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="l" data-value="l">
          <label class="custom-control-label" for="l">L</label>
        </li>
        <li>
          <input type="checkbox" class="custom-control-input" id="xl" data-value="xl">
          <label class="custom-control-label" for="xl">XL</label>
        </li>
      </ul>
    </div>
  </div>
</div>