<div class="footer-column pull-left">
  <h4>Nosotros</h4>
  <ul class="links">
    <li><a [routerLink]="['/about']"   title="Acerca de">Acerca de</a></li>
    <li><a [routerLink]="['/sitemap']" title="Mapa del Sitio">Mapa del Sitio</a></li>
    <li><a [routerLink]="['/terms']"   title="Terminos">Terminos</a></li>
    <li><a [routerLink]="['/privacy']" title="Privacidad">Privacidad</a></li>
    <li><a [routerLink]="['/contact']" title="Contáctenos">Contáctenos</a></li>
    <li><a [routerLink]="['/faq']" title="Preguntas">Preguntas</a></li>
  </ul>
</div>