<a class="level-top" [routerLink]="item.path"><span>{{item.label}}</span></a>
<div *ngIf="item.children" class="level0-wrapper dropdown-6col">
  <div class="container">
    <div class="level0-wrapper2">
      <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">
        <ul class="level0">
          <li class="level3 nav-6-1 parent item" *ngFor="let c of item.children">
            <a [routerLink]="c.path"><span>{{c.label}}</span></a>
            <ul *ngIf="c.children" class="level1">
              <li *ngFor="let cc of c.children" class="level2">
                <a [routerLink]="cc.path"><span>{{cc.label}}</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div *ngIf="ad" class="nav-block nav-block-right std grid12-4">
        <a [attr.href]="ad.href">
          <img [attr.alt]="ad.alt" [attr.src]="ad.src">
        </a>
      </div>
    </div>
  </div>
</div>