<div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-xs-12 coppyright">&copy; 2018 Magikcommerce. All Rights Reserved.</div>
        <div class="col-sm-7 col-xs-12 company-links">
          <ul class="links">
            <li><a href="#" title="Magento Themes">Magento Themes</a></li>
            <li><a href="#" title="Premium Themes">Premium Themes</a></li>
            <li><a href="#" title="Service Packs">Service Packs</a></li>
            <li><a href="#" title="Extensions &amp; Plugins">Extensions &amp; Plugins</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>