<div class="item-img">
  <div class="item-img-info">
    <a class="product-image" title="Retis lapen casen" [routerLink]="['/product']">
      <img alt="Retis lapen casen" src="http://via.placeholder.com/700x850">
    </a>
    <div class="new-label new-top-right">nuevo</div>
    <div class="sale-label sale-top-left">en venta</div>
    <div class="hot-label hot-top-left">oportunidad</div>
    <div class="box-hover">
      <ul class="add-to-links">
        <li><a class="link-quickview" [routerLink]="['/']">Vista Rapida</a></li>
        <li><a class="link-wishlist" [routerLink]="['/']">Favoritos</a></li>
        <li><a class="link-compare" [routerLink]="['/']">Comparar</a></li>
      </ul>
    </div>
  </div>
</div>